services:
  proxy:
    image: nginx:1.27
    restart: unless-stopped
    ports:
      - 8080:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ../timemanager-front/dist:/app/dist

  db:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: "testpass"
      POSTGRES_USER: "testadmin"
      POSTGRES_DB: "timemanager"
    volumes:
      - ./data/:/var/lib/postgresql/data
    # temp. should run backend in the same net instead of exposing port
    ports:
      - 5432:5432

  adminer-dev:
    image: adminer:5
    restart: unless-stopped
    ports:
      - 5400:8080
