services:
  proxy:
    image: nginx:1.27
    restart: unless-stopped
    ports:
      - 8080:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ../timemanager-front/dist:/app/dist

  db:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: "testpass"
      POSTGRES_USER: "testadmin"
      POSTGRES_DB: "timemanager"
    volumes:
      - ./pgdata/:/var/lib/postgresql/data
    # temp. should run backend in the same net instead of exposing port
    ports:
      - 5432:5432

  adminer-dev:
    image: adminer:5
    restart: unless-stopped
    ports:
      - 5400:8080

  keycloak:
    image: quay.io/keycloak/keycloak:26.5
    build: ./keycloak/
    # command: start-dev --spi-theme--static-max-age=-1 --spi-theme--cache-themes=false --spi-theme--cache-templates=false
    restart: unless-stopped
    # environment:
    #   KC_BOOTSTRAP_ADMIN_USERNAME: "admin"
    #   KC_BOOTSTRAP_ADMIN_PASSWORD: "change_me"
    ports:
      - 5500:8080
    volumes:
      - ./keycloak/keycloak.conf:/opt/keycloak/conf/keycloak.conf
      - ./keycloak/timemanager_theme:/opt/keycloak/themes/timemanager_theme
    secrets:
      - keycloak_secrets

secrets:
  keycloak_secrets:
    file: ./keycloak/secrets.env
